
//* IOS
.Zapfino {
    font-family: 'Zapfino';
  }
  
  .TimesNewRomanPSMT {
    font-family: 'TimesNewRomanPSMT';
  }
  
  .Trebuchet {
    font-family: 'Trebuchet MS';
  }
  
  .MarkerFelt {
    font-family: 'MarkerFelt-Thin';
  }
  
  .Mishafi {
    font-family: 'Mishafi';
  }
  
  .Noteworthy {
    font-family: 'Noteworthy';
  }
  
  .Papyrus {
    font-family: 'Papyrus';
  }
  
  .PartyLetPlain {
    font-family: 'PartyLetPlain';
  }
  
  .SavoyeLetPlain {
    font-family: 'SavoyeLetPlain';
  }
  
  .SnellRoundhand {
    font-family: 'SnellRoundhand-Black';
  }
  
  .Courier {
    font-family: 'Courier New';
  }
  
  .Bradley {
    font-family: 'Bradley Hand';
  }
  
  .Baskerville {
    font-family: 'Baskerville';
  }
  
  .AppleColorEmoji {
    font-family: 'AppleColorEmoji';
  }
  
  .American {
    font-family: 'American Typewriter';
  }
  
  .Arial {
    font-family: 'Arial';
  }
  
  .HiraMinProN {
    font-family: 'HiraMinProN-W6';
  }
  
  //* IOS
  
  
  
  
  //* ANDROID
  .notoserif {
    font-family: 'notoserif';
  }
  
  .sans_serif {
    font-family: 'sans-serif';
  }
  
  .sans_serif_light {
    font-family: 'sans-serif-light';
  }
  
  .sans_serif_thin {
    font-family: 'sans-serif-thin';
  }
  
  .sans_serif_condensed {
    font-family: 'sans-serif-condensed';
  }
  
  .sans_serif_medium {
    font-family: 'sans-serif-medium';
  }
  
  .serif {
    font-family: 'serif';
  }
  
  .Roboto {
    font-family: 'Roboto';
  }
  
  .monospace {
    font-family: 'monospace';
  }
  
  //* ANDROID
  
  
  
  
  //! font
  .bold {
    font-weight: 900;
  }
  
  .italic {
    font-weight: 900;
  }
  
  .t_center {
    text-align: center;
  }
  
  .t_right {
    text-align: right;
  }
  
  .t_left {
    text-align: left;
  }
  
  //! font
  